In [ ]:
import pandas as pd
data = {"Months":["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]}
a = pd.DataFrame(data)
print(a)

       Months
0     January
1    February
2       March
3       April
4         May
5        June
6        July
7      August
8   September
9     October
10   November
11   December

# **Extract values using String Method**

In [ ]:
a["Short_Months"]= a["Months"].str[0:3]
print(a)

       Months Short_Months
0     January          Jan
1    February          Feb
2       March          Mar
3       April          Apr
4         May          May
5        June          Jun
6        July          Jul
7      August          Aug
8   September          Sep
9     October          Oct
10   November          Nov
11   December          Dec

#exctract values using function & Apply

In [ ]:
def extract(value):
    return value[0:3]
a["Short_Months"] = a["Months"].apply(extract)
print(a)

       Months Short_Months
0     January          Jan
1    February          Feb
2       March          Mar
3       April          Apr
4         May          May
5        June          Jun
6        July          Jul
7      August          Aug
8   September          Sep
9     October          Oct
10   November          Nov
11   December          Dec

## **#Extract Values using Function and Map**

In [ ]:
def extract(value):
    return value[0:3]
a["Short_Months"] = a["Months"].map(extract)
print(a)

       Months Short_Months
0     January          Jan
1    February          Feb
2       March          Mar
3       April          Apr
4         May          May
5        June          Jun
6        July          Jul
7      August          Aug
8   September          Sep
9     October          Oct
10   November          Nov
11   December          Dec